.form-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
    width: 250px;
}

#eye {
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
}